.wrapperNav {
    position: relative;
    max-width: 1540px;
    margin: 0 auto;
}

.wrapperLi {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: var(--transition-theme-background);
    padding: 10px 10px 0 10px;
}

.wrapperLiLight {
    background-color: var(--backGround-light);
}

.wrapperLiDark {
    background-color: var(--backGround-dark);  
}

.wrapperLi li {
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.wrapperLi a {
    display: grid;
    justify-items: center;
}

.imgIcon {
    max-width: 30px;
}

.wrapCountLike {
    position: relative;
}
 
.countLike {
    position: absolute;
    left: 55%;
    bottom: 70%;
    background-color: var(--color-pink);
    border-radius: 50%;
    font-size: 15px;
    padding: 2px 6px;
}

.wrapperLi li:hover img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(40%) saturate(803%) hue-rotate(259deg) brightness(98%) contrast(93%);
}

.wrapperLi li:hover p {
    color: #f26ee1;
}

.wrapperLiWeb {
    justify-content: flex-end;
}

.bottomMenuMob {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.wrapperLiMob {
    justify-content: space-around;
    padding: 1em;
    font-size: 12px;
    font-weight: bold;
}

.subMenuWrap {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
    z-index: 3;
}