.subLiLight:hover {
    background-color: var(--backGround-lightLight);
}

.subLiDark:hover {
    background-color: var(--color-grey);
}

.wrapLi {
    max-width: 1540px;
    margin: 0 auto;
}


.subMenuWrapLight {
    background-color: var(--backGround-light);
}

.subMenuWrapDark {
    background-color: var(--backGround-dark);
}