.container {
    max-width: 1440px;
    margin: 0 auto;
}

.wrapperH3Title {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.wrapperUlInfo {
    background-color: black;
    padding-bottom: 10px;
}

.wrapperList {
    position: relative;
    transition: all 1s ease;
    background-color: black;
}