.btn {
    padding: 5px 15px;
    color: white;
    background-color: var(--color-pink);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--color-pink-light);
}

.btn:focus {
    outline: none;
    border: none;
    background-color: var(--color-pink-light);
}
