.container {
    display: grid;
    justify-content: center;
}
.wrapImg {
    max-width: 100px;
    margin-top: 30px;
    animation: ghost 3s infinite ease-in-out;
}

.wrapImgLittle {
    max-width: 50px;
    animation: ghostLittle 5s infinite ease-in-out;
}

.wrapImg img {
    width: 100%;
}

.shadowWrap {
    display: flex;
    justify-content: center;
}

.shadowWrapLittle {
    margin-left: 10px;
}

.shadow {
    width: 80px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-grey);
    animation: shadow 3s infinite ease-in-out;
}

.shadowLittle {
    width: 30px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-grey);
    animation: shadowLittle 5s infinite ease-in-out;
}

@keyframes ghost {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes ghostLittle {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shadow {
    0% {
        width: 80px;
    }
    50% {
        width: 60px;
    }
    100% {
        width: 80px;
    }
}

@keyframes shadowLittle {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}