.containerGrid {
    display: grid;
    justify-content: center;
}

.containerFlex {
    display: flex;
    align-items: center;
}

.wrapImgLarge {
    max-width: 100px;
    margin-top: 30px;
    animation: ghostLarge 3s infinite ease-in-out;
}

.wrapImgMedium {
    max-width: 50px;
    animation: ghostMedium 5s infinite ease-in-out;
}

.wrapImgSmall {
    max-width: 20px;
    animation: ghostMedium 5s infinite ease-in-out;
}

.imgGhost {
    width: 100%;
}

.shadowWrapLarge {
    display: flex;
    justify-content: center;
}

.shadowWrapMedium {
    margin-left: 10px;
}

.shadowWrapSmall {
    margin-left: 4px;
}

.shadowLarge {
    width: 80px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-grey);
    animation: shadowLarge 3s infinite ease-in-out;
}

.shadowMedium {
    width: 30px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-grey);
    animation: shadowMedium 5s infinite ease-in-out;
}

.shadowSmall {
    width: 12px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--color-grey);
    animation: shadowMedium 5s infinite ease-in-out;
}

@keyframes ghostLarge {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes ghostMedium {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shadowLarge {
    0% {
        width: 80px;
    }
    50% {
        width: 60px;
    }
    100% {
        width: 80px;
    }
}

@keyframes shadowMedium {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}