.headerLi {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    transition: background-color .3s ease;
    max-width: 250px;
    cursor: pointer;
}

.headerLi a {
    width: 100%;
}

.wrapImgNext {
    max-width: 15px;
}

.wrapImgNext img {
    width: 100%;
}

.wrapArrow {
    display: flex;
    justify-content: space-between;
}

.btnBackClose {
    max-width: 20px;
    cursor: pointer;
}

.btnBackClose img {
    width: 100%;
}