.wrapperNav {
    position: relative;
    max-width: 1540px;
    margin: 0 auto;
}

.wrapperLi {
    display: flex;
    gap: 20px;
    transition: var(--transition-theme-background);
}

.wrapperLiLight {
    background-color: var(--backGround-light);
}

.wrapperLiDark {
    background-color: var(--backGround-dark);  
}

.wrapperLi li {
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.wrapperLi a {
    display: grid;
    justify-items: center;
}

.imgIcon {
    max-width: 30px;
}

.wrapperLi li:hover img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(40%) saturate(803%) hue-rotate(259deg) brightness(98%) contrast(93%);
}

.wrapperLi li:hover p {
    color: #f26ee1;
}