.wrapperNav {
    position: relative;
}

.wrapperLi {
    display: flex;
    gap: 20px;
}

.wrapperLiLight {
    background-color: rgba(241, 234, 207);
}

.wrapperLiDark {
    background-color: rgb(44, 29, 36);
}

.wrapperLi li {
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.wrapperLi a {
    display: grid;
    justify-items: center;
}

.imgIcon {
    max-width: 30px;
}

.wrapperLi li:hover img {
    filter: brightness(0) saturate(100%) invert(55%) sepia(40%) saturate(803%) hue-rotate(259deg) brightness(98%) contrast(93%);
}

.wrapperLi li:hover p {
    color: #f26ee1;
}