.wrapSelect {
    position: relative;
    border-radius: 10px;
    transition: var(--transition-theme);
    max-width: 250px;
    min-width: 50px;
}

.wrapSelectlight {
    background-color: var(--backGround-light);
    border: 1px solid var(--backGround-dark);
}

.wrapSelectdark {
    background-color: var(--backGround-dark);
    border: 1px solid var(--backGround-light);
}

.wrapHeader {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px 5px 10px;
   gap: 10px;
}

.header {
    position: absolute;
    transition: all 1s ease;
    
    border-radius: 10px;
}

.headerlight {
    background-color: var(--backGround-light);
}

.headerdark {
    background-color: var(--backGround-dark);
}

.headerdown {
    top: 10%;
    left: 20%;
}

.headerup {
    top: -25%;
    left: 10%;
    font-size: 15px;
}


.wrapImg {
    width: 15px;
}

.wrapImg img {
    width: 100%;
}

.wrapUl {
    position: absolute;
    width: 100%;
    padding: 10px 0;
}

.scrollUl {
    max-height: 290px;
    overflow-y: scroll;
}

.wrapUldark {
    background-color: var(--backGround-dark);
}

.wrapUllight {
    background-color: var(--backGround-light);
}

.selectLi {
    padding: 5px 10px;
}

.selectLi:hover {
    background-color: var(--color-pink);
}
