.profileFieldset {
    border: none;
    gap: 10px;
}

.wrapGenderInput {
    display: flex;
    gap: 20px;
}

.btnRadioLabel {
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.btnRadioLabellight {
    border: 1px solid black;
}

.btnRadioLabeldark {
    border: 1px solid white;
}

.profileBtnRadio {
    position: absolute;
    opacity: 0;
}

.profileBtnRadio:focus + .btnRadioLabel {
    border-color: var(--color-pink);    
    box-shadow: 0 0 0 0.25rem rgba(235, 71, 164, 0.358);
}

.profileBtnRadio:checked + .btnRadioLabel {
    border-color: var(--color-pink);
}