.wrapperDrawer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.714);
    z-index: 4;
}

.headerDrawer {
    display: flex;
    justify-content: space-between;
}

.wrapContent {
    position: fixed;
    width: 300px;
    z-index: 4;
    transition: left 1s ease;
    padding: 10px;
}

.wrapContent li {
    list-style: none;
}


.wrapContentDark {
    background-color: var(--backGround-dark);
    color: var( --color-light);
}

.wrapContentLight {
    background-color: var(--backGround-light);
    color: var( --color-dark);
}