.mainFooter {
    background-color: black;
    color: rgba(241, 234, 207, 0.87);
    padding-bottom: 200px;
    margin-top: auto;
}

.mainFooter h1 h2 h3 h4 h5 {
    color: #fff;
}

.mainFooter {
    color: #8d8d92;
}