.container {
    color: black;
}

.container div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.li {
    cursor: pointer;
    transition: color .3s ease;
}

.activeLi {
    color: var(--color-pink);
}

.li:hover {
    color: var(--color-pink);
}

@media(max-width: 800px) {
    .container div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 600px) {
    .container div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 400px) {
    .container div {
        grid-template-columns: repeat(1, 1fr);
    }
}