.themeLight {
    background-color: var(--backGround-light);
    color: var(--color-backGround-light);
    transition: var(--transition-theme);
}

.themeDark {
    background-color: var(--backGround-dark);
    color: var(--color-backGround-dark);
    transition: var(--transition-theme);
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}