:root {
    --backGround-light: #fff;
    --backGround-dark: #222222;
    --backGround-lightLight: #f0f0f5;
    --backGround-darkLight: #222222;
    --color-backGround-light: rgb(29,29,31);
    --color-backGround-dark: #f9f9f9;
    --transition-theme: background-color  1s ease-in-out, color 1s ease-in-out;
    --transition-theme-background: background-color  1s ease-in-out;
    --btn-color-light: rgb(245, 245, 247);
    --color-light: rgb(255, 255, 255);
    --color-pink:#ed5aae; 
    --color-grey: #8d8d92; 
    --color-blue: rgb(109, 199, 239);
}
/* #e0e0e0 line   color footer h #fff color footer p #8d8d92 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    all: unset;
}