.containerPoke {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* opacity: 0; */
    /* transform: translateY(50px); */
    transition: all 1s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.emptyVhDiv {
    height: 80vh;
}

.pokeListWrapper{
   padding: 18px 16px;
   transition: all 0.5s ease-in-out;
}

.wrapTooltip {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cardLikeBtn {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: blueviolet;
    border-radius: 4px;
    color: #ffffff;
    padding: 3px 8px;
    border: 2px solid transparent;
    cursor: pointer;
}

.wrapTooltip span {
    background-color: blueviolet;
    padding: 3px 8px;
    border-radius: 4px;
    display: inline-block;
}

.wrapImg {
    margin: 0 auto;
    max-width: 278px;
    padding: 10px 0;
    cursor: pointer;
}

.wrapImg img {
    width: 100%;
}

.pokeListWrapper:hover {
    box-shadow: -1px 1px 30px 0px rgba(0,0,0,0.86);
    -webkit-box-shadow: -1px 1px 30px 0px rgba(0,0,0,0.86);
    -moz-box-shadow: -1px 1px 30px 0px rgba(0,0,0,0.86);
    
}

.pokeListWrapper:hover .cardLikeBtn {
    opacity: 1;
}

.cardLikeBtn:hover {
    border: 2px solid #ffffff;
}

@media(max-width: 1210px) {
    .containerPoke {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 900px) {
    .containerPoke {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px) {
    .containerPoke {
        grid-template-columns: repeat(1, 1fr);
    }
}