.line {
    height: 6px;
    width: 100%;
    background-color: blueviolet;
    display: block;
    position: relative;
}

.strip {
    height: 6px;
    position: absolute;
    top: 0;
    background-color: antiquewhite;
    transition: 0.5s all ease-in-out;
}
